@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.fundo{
position: absolute;
width: 1920px;
height: 1080px;
left: -288px;
top: -191px;
background: url(image.png);
filter: blur(12.7px);
z-index: -1;
}
  
.chapeu{
  width: 70px;
  margin-left: 73px;
  margin-top: 31px;
}

.home{
  color: white;
  position: absolute;
  width: 45px;
  height: 24px;
  left: 194px;
  top: 39px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
}
.historia{
position: absolute;
width: 69px;
height: 24px;
left: 290px;
top: 39px;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 150%;
display: flex;
align-items: center;
color: white;
}
.wallpaper{
position: absolute;
width: 86px;
height: 24px;
left: 410px;
top: 39px;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 150%;
display: flex;
align-items: center;
color: white;
}
.trailer{
position: absolute;
width: 56px;
height: 24px;
left: 547px;
top: 39px;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 150%;
display: flex;
align-items: center;
color: white;
}
.icones{
position: absolute;
width: 136px;
height: 25.26px;
right: 87px;
top: 38px;
margin-left: 16px;
margin-right: 16px;
}
.esquerda{
position: absolute;
width: 382px;
height: 456px;
left: 971px;
top: 155px;
background: url(mario-and-luigi.png);
}
.logo-filme{
position: absolute;
width: 250px;
height: 211.54px;
left: 74px;
top: 144px;
background: url(logo-movie.png);
}
.resumo-filme{
  
position: absolute;
width: 474px;
height: 144px;
left: 73px;
top: 383px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;

display: flex;
align-items: center;
text-align: justify;

color: white;
}
.botao1{
  /* Rectangle 4 */

box-sizing: border-box;

position: absolute;
width: 232px;
height: 53px;
left: 74px;
top: 554px;

background: #AB2323;
border: 1px solid #AB2323;

color: white;
font-family: "Poppins";
font-size: 16px;
}
.botao2{
  /* Rectangle 5 */
background: transparent;
box-sizing:  border-box;

position: absolute;
width: 232px;
height: 53px;
left: 315px;
top: 554px;

border: 1px solid #14531E;

color: white;
font-family: "Poppins";
font-size: 16px;



}